body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F7FA;
}
.whole-head{
    background-color: #2F8F83;
    text-align: center;
    padding: 20px;
}
.whole-head h1{
    font-size: 30px;
    color: white;
}
.add-product{
    border: none;
    border-radius: 20px;
    width: 1100px;
    max-width: 100%;
    margin-left: 20%;
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.heading{
    background-color: #2F8F83;
    color: white;
    padding: 5px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.add-product form{
    margin: 0;
    padding: 10px;
    background-color: #FFFFFF;
    padding: 20px;
}
.add-product form label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.add-product form input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/*focus*/
.add-product form input:focus{
    border-color: #2F8F83;
    box-shadow: 0 0 5px rgba(47, 143, 131, 0.5);
    outline: none;
}
.add-product form select{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.add-product form select:focus{
    border-color: #2F8F83;
    box-shadow: 0 0 5px rgba(47, 143, 131, 0.5);
    outline: none;
}
.add-product form button{
    background-color: #2F8F83;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
.add-product form button:hover{
    background-color: #256D6A;
}
form .quantity-l{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.quantity-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/*form .category1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}*/
.product-inventory{
    width: 1100px;
    max-width: 100%;
    margin: 20px;
    margin-left: 20%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.product-h2{
    text-align: center;
    background-color: #2F8F83;
    color: white;
    padding: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.search input{
    width: 50%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search input:focus{
    border-color: #2F8F83;
    box-shadow: 0 0 5px rgba(47, 143, 131, 0.5);
    outline: none;
}
.search select{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 8px;
    margin-left: 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search select:focus{
    border-color: #2F8F83;
    box-shadow: 0 0 5px rgba(47, 143, 131, 0.5);
    outline: none;
}
.search select option{
    padding: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table th, table td{
    border: none;
    padding: 8px;
    text-align: left;
}
table th{
    background-color: #f2f2f2;
}
table tr:hover{
    background-color: #f1f1f1;
}
table tr:nth-child(odd){
    background-color: #f9f9f9;
}
table tr:nth-child(even){
    background-color: #ffffff;
}
table td .edit{
    background-color: green;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 4px;
}
table td .delete{
    background-color: #E74C3C;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 4px;
}
.stock{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.total{
    border: 1px solid blue;
    padding-left: 10px;
    background-color: aqua;
    width: 500px;
    margin: 20px;
    border-radius: 10px;
}
.total p{
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}
.value{
    border: 1px solid blue;
    padding-left: 10px;
    background-color: aqua;
    width: 500px;
    margin: 20px;
    border-radius: 10px;
}
.value p{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
@media (max-width: 768px) {
    .add-product, .product-inventory {
        width: 90%;
        margin-left: 5%;
    }
    table{
        font-size: 14px;
    }
    table td .edit, table td .delete{
        padding: 5px 8px;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }
    table td .delete{
        margin-top: 4px;
    }
    .add-product form select{
        width: 100%;
    }
    form .quantity-l{
        grid-template-columns: 1fr;
    }
    .search input, .search select {
        width: 100%;
        margin-bottom: 10px;
    }
    .total{
        width: 90%;
        margin-left: 5%;
    }
    .total p, h3{
        font-size: 20px;
    }
    .value{
        width: 90%;
        margin-left: 5%;
    }
    .value p, h3{
        font-size: 20px;
    }
}
.Low-stock{
    color: red;
    font-weight: 800;
}
